<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Igor Borba</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-banner.svg" alt="home banner">
    <mat-card-content>
      <p>
        Estamos aqui para ajudar a simplificar sua jornada digital e garantir que suas necessidades sejam atendidas. Seja bem-vindo ao nosso Help Desk, o seu parceiro confiável para todas as suas questões tecnológicas.
      </p>
    </mat-card-content>
  </mat-card>